.controls input[type="radio"]:checked + label {
    color: var(--text-dark);
    opacity: 1;
    background: var(--accent-color);
    animation-name: fade;
    animation-timing-function: ease-in;
    animation-duration: 0.05s;
  }